* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* Lato Light */
}

/* #A8DEF9 lighter blue */ 
/* #E1F2FD almost whitish blue */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #0a84bf;
}

h3 {
    font-size: 30px;
    color: #0C5980;
}

h4 {
    font-size: 20px;
    color: #0B2F46; 
}

h5 {
    font-size: 15px;
    color: #0B2F46;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    color: #0B2F46; 
}

p {
    font-size: 16px;
    color: #0B2F46; 
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 0px 20px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E1F2FD;
    box-shadow: 0 1px 5px rgb(17, 36, 48);
    width: 100%; /* makes sure that the size of the navbar is always the same as the window size */
    /* the following makes sure that the navbar sticks to the top */
    z-index: 999;
    /* sticky makes this element be treated as relative until it 
    crosses a specified threshold, at which point it becomes fixed in place */
    position: sticky;
    /* 
        these two properties define the position that a sticky element
        should adhere to within its containing block. 
        -- "top" - when the element reaches the specified distance from 
            the top of its containing block during a scroll, it becomes 
            fixed at that position
        -- "left" - When the element reaches the specified distance from 
            the left of its containing block during a scroll, it becomes 
            fixed at that position.
    */
    top: 0;
    left: 0;
}

#website-title {
    display: flex;
    align-items: center;
}

#website-title img {
    width: 55x;
    height: 55px;
}

#words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10px;
}

#words h3,
#words p {
    padding: 0;
    margin: 0;
}

/* navbar (the links) */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative; 
    /* 
       first, we need to add relative position to the li element. 
       This ensures that when we add the decorative bar under the tab, it will
       also be relative to the li element, and not the whole page. 
    */
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #16A4E1;
    transition: 0.3s ease;
}

/* The dropdown container */
.dropdown {
    float: left;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: #16A4E1;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    transition: 0.3s ease;
}
  

#navbar li a:hover, 
#navbar li a.active, 
.dropdown:hover .dropbtn {
    color: #0C5980;
}

/* 
    the '::after' pseudo-element creates a virtual element that is the last
    last child of the selected element.
*/
/* the following adds a bar under the active/hovered button */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #0C5980;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #16A4E1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s ease;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #E1F2FD;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    text-align: center;
    padding: 35px 80px;
    background-color: #E1F2FD;
    margin-top: 75px;
}


/* here are some common styles that all pages can use */
/* one picture and one text square layout */
.two-squares {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border-bottom: 1px solid #0C5980;
    border-top: 1px solid #0C5980;
}

.square {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    height: auto;
}

.square h3, 
.square h5,
.square h4 {
    padding: 20px;
}

/* This is one type of square's button */
/* white background, blue word and border */
.read-more {
    border: 1px solid #0a84bf;;
    background-color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #0a84bf;
}

.read-more:hover {
    background-color: #F1F9FE;
} 


/* This is another type of button */
/* blue background with shadow */
.signup-btn {
    padding: 10px;
    margin: 25px;
    background-color: #E1F2FD;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ABDEF9;
    box-shadow: 1px 2px 2px rgb(17, 36, 48);
    font-size: 17px;
    font-weight: 600;
    color: #16A4E1;
}

.signup-btn:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
}

/* general page's top banner (background pic + white card on top) */
.top-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 90px;
    background-image: url('/static/img/title-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-title-container div {
    background-color: #F1F9FE;
    padding: 20px;
    border: 2px solid #ABDEF9;
}
.top-title-container h1 {
    padding: 20px;
}

.top-title-container h4 {
    padding: 20px;
    line-height: 1.8;
}

/* 2 overlapping cards */
.two-overlap-cards {
    display: flex;
    align-items: center;
    width: 100%;
    height: 110vh;
    background-color: #F1F9FE;
    border-bottom: 1px solid white;
}

.overlap-card {
    display: flex;
    width: inherit;
    height: 90vh;
}

.up {
    z-index: 10;
    justify-content: center;
    align-items: left;
}

.overlap-card img {
    height: 70vh;
    width: 120vh;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 10px;
}

.down {
    z-index: 20; /* The higher the z-index, the more it is to the top of the page */
    margin-left: -50vh;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

.sub-item {
    box-sizing: border-box;
    margin: 20px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 3px solid #E1F2FD;
    height: 70vh;
    width: 120vh;
}

.sub-item h1 {
    padding: 20px;
}

.sub-item h4 {
    padding: 20px;
    line-height: 1.8;
}

/* the container with white background and black line on the bottom */
.blk-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #014A6A;
    width: 90%;
    height: 120vh;
    margin: auto;
}

.blk-bottom-pic {
    width: 45%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blk-bottom-pic img {
    height: 47vh;
    width: 67vh;
}

.blk-bottom-text {
    width: 55%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blk-bottom-text ul {
    line-height: 1.8;
    padding-top: 10px;
}

.blk-bottom-text li > ul{
    padding-left: 40px;
}

.blk-bottom-text h2 {
    padding-bottom: 10px;
}

/* for the flash message box */
.flashes {
    max-width: 90%;
    background-color: #E1F2FD;
    border: 1px solid #0C5980;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}