.topic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topic-box > div {
    border: 2px solid #ABDEF9;
    border-radius: 5px;
    width: 85%;
    padding: 20px;
    margin: 40px 0 0 0;
}

.like-count {
    display: flex;
    margin-top: 20px;
}

.like-count > a {
    margin-right: 7px;
}


#add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-form div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
}

input, textarea, select {
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

textarea {
    height: 150px;
}

#blue-background {
    background-color: #F1F9FE;
}

#center-text {
    text-align: center;
}

#comment-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#comment-form textarea {
    width: 100%;
}

.signup-btn {
    margin-left: 0;
    margin-top: 20px;
}

.comment-box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ABDEF9;
    border-bottom: 1px solid #ABDEF9;
    padding: 10px 20px;
    margin: 10px 0;
}

.comment-box h4 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}
