{% extends "base.html" %}

{% block title %}Forum{% endblock %}

{% block additional_css %}
    <!-- Link to child-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}">
{% endblock %}

{% block content %}
<section class="top-title-container">
    <div>
        <h1>Forum</h1>
        <h4>Welcome! Have a look around and join the discussions. Connect with other diabetes patients!</h4>
    </div>
</section>
<section class="forum-subtitle">
    <div>
        <h3>Posts</h3>
        <a href="{{ url_for('add_topic') }}">
            <button class="signup-btn"><i class="fa-solid fa-plus" style="color: #16A4E1;"></i> New Post</button>
        </a>
    </div>
</section>
<section class="post-subtitle">
    <div>
        <h4>Title</h4>
        <h4>Date</h4>
    </div>
</section>
<section class="postlist">
    {% for topic in topics %}
    <div class="post">
        <div>
            <a href="/topic/{{ topic.id }}">
                <h4>{{ topic.title }}</h4>
            </a>
            <h5>{{ topic.username }}</h5>
        </div>
        <div>
            <h5>{{ topic.date.strftime('%Y-%m-%d') }}</h5>
        </div>
    </div>    
    {% endfor %}
</section>
{% endblock %}