{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block additional_css %}
    <!-- Link to child-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<h2>My Profile</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}