{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock %}

{% block additional_css %}
    <!-- Link to child-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topic.css') }}">
{% endblock %}

{% block content %}
<section class="topic-box">
    <div>
        <h2>{{ topic.title }}</h2>
        <h4>Posted by {{ topic.username }}</h4>
        <h5>{{ topic.date.strftime('%Y-%m-%d') }}</h5>
    </div>
    <!-- put a box (border) around this section -->
</section>
<section class="topic-box">
    <div>
        <h4>{{ topic.description }}</h4>
        <i class="fa-regular fa-heart" style="color: #0a84bf;"></i> <!-- heart icon -->
    </div>
</section>
<section class="topic-box">
    <!-- Add a line on top of this section -->
    <div>
        <h3>Comments</h3>
        <form action="/topic/{{ topic.id }}" method="post" id="comment-form">
            <textarea id="comment" name="comment"></textarea>
            <button type="submit" id="submit" class="signup-btn">Comment</button>
        </form>
        <!-- for loop to get all comments for this topic -->
        {% for comment in comments %}
        <div class="comment-box">
            <div>
                <h4>{{ comment.text }}</h4>
                <h5>{{ comment.username }}</h5>
                <h5>{{ comment.date.strftime('%Y-%m-%d') }}</h5>
            </div>
            <div>
                <i class="fa-regular fa-heart" style="color: #0a84bf;"></i>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}