{% extends "base.html" %}

{% block title %}Treatments Type 1{% endblock %}

{% block additional_css %}
    <!-- Link to child-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/treatment.css') }}">
{% endblock %}

{% block content %}
<section class="two-overlap-cards">
    <div class="overlap-card up">
        <img class="sub-image" src="{{ url_for('static', filename='img/type/card.png') }}">
    </div>
    <div class="overlap-card down">
        <div class="sub-item">
            <h1>Type I Diabetes Treatments</h1>
        </div>
    </div>
</section>
<section class="dark-pic-container">
    <div class="text-item">
        <h2>1. Insulin intake</h2>
        <h4>
            <ul>
                <li>For type 1 patients, your pancreas no longer produces insulin. Thus, intensive insulin therapy and insulin intake is to treat it. This intake can be done by taking insulin shots, using an insulin pump, inhaling insulin, etc.</li>
                <li>The best place for you to inject insulin is through your belly. This is where you will absorb the most insulin.</li>
                <li>Your doctor will help determine which type of insulin you need</li>
            </ul>
        </h4>
    </div>
    <div class="pic-item">
        <div class="outer-border">
            <img src="{{ url_for('static', filename='img/treatment/insulin.jpg') }}">
        </div>
    </div>
</section>
{% endblock %}