{% extends "base.html" %}

{% block title %}Type 2 diabetes{% endblock %}

{% block additional_css %}
    <!-- Link to child-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/type.css') }}">
{% endblock %}

{% block content %}
<section class="container1">
    <div class="sub-container up">
        <img class="sub-image" src="{{ url_for('static', filename='img/type/card.png') }}">
    </div>
    <div class="sub-container down">
        <div class="sub-item">
            <h1>Type II Diabetes</h1>
            <h4>This is also known as insulin-resistant diabetes or adult-onset diabetes. This type of diabetes happens when the body has insufficient insulin or when the body's cells don't respond to the produced insulin. The body’s cells have become resistant to insulin and your pancreas can no longer keep up the production of insulin, causing glucose level to increase. This is the most common type of diabetes.</h4>
        </div>
    </div>
</section>
<section class="container2">
    <h2>Symptoms</h2>
    <h4>Symptoms for type 2 diabetes may not be noticed at all. They tend to develop slowly over years.</h4>
</section>
<section class="container3">
    <h2>Causes</h2>
    <h4>
        Here are some causes of type 2 diabetes:
        <ul>
            <li>Family history of type 2 diabetes</li>
            <li>Overweight</li>
            <li>High blood pressure</li>
            <li>Physically inactive (doesn’t exercise much)</li>
            <li>Having a history of heart disease or stroke</li>
            <li>Smoking</li>
        </ul>
    </h4>
</section>

{% endblock %}