{% extends "base.html" %}

{% block title %}Gestational diabetes{% endblock %}

{% block additional_css %}
    <!-- Link to child-specific CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/type.css') }}">
{% endblock %}

{% block content %}
<section class="two-overlap-cards">
    <div class="overlap-card up">
        <img class="sub-image" src="{{ url_for('static', filename='img/type/card.png') }}">
    </div>
    <div class="overlap-card down">
        <div class="sub-item">
            <h1>Gestational Diabetes</h1>
            <h4>This type of diabetes only develops in some women during the pregnancy period. The reason for it is because the hormones produced by your body during pregnancy make the body's cells more resistant to insulin. Gestational diabetes usually goes away after pregnancy, but it will increase your risk of developing type 2 diabetes later in life.</h4>
        </div>
    </div>
</section>
<section class="container2">
    <h2>Symptoms</h2>
    <h4>Symptoms for gestational diabetes are usually unnoticeable. Your obstetrician is responsible for testing you for this type of diabetes during your pregnancy.</h4>
</section>
<section class="container3">
    <h2>Causes</h2>
    <h4>
        Here are some causes of gestational diabetes:
        <ul>
            <li>Family history of gestational diabetes</li>
            <li>Overweight (before the pregnancy)</li>
        </ul>
    </h4>
</section>

{% endblock %}